<ion-header class="chat">
  <ion-navbar>
    <ion-title class="toolbarTitle">Chat</ion-title>
    <button ion-button class="toolbarButton" (click)="utils.alertLogOut()">
        <ion-icon name="power"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<!--<ion-content #chatContent padding class="chat">
    <ion-list no-lines>
        <ion-item *ngFor="let messages of arrayMessageChat" class="bubble">
            <p *ngIf="messages.sendedByMe === 'True'" item-right>{{messages.message}}</p>
            <p *ngIf="messages.sendedByMe === 'True'" class="date-right">{{messages.dateMessage}}</p>

            <ion-avatar *ngIf="messages.sendedByMe === 'True'" item-right>
                <img src="https://cdn.schd.ws/common/img/avatar-empty.png">
            </ion-avatar>
            <ion-avatar *ngIf="messages.sendedByMe === 'False'" item-left>
                <img src="https://cdn.schd.ws/common/img/avatar-empty.png">
            </ion-avatar>
            
            <h2 *ngIf="messages.sendedByMe === 'False'">{{messages.sendedByName}}</h2>
            <p *ngIf="messages.sendedByMe === 'False'">{{messages.message}}</p>
            <p *ngIf="messages.sendedByMe === 'False'" class="date-left">{{messages.dateMessage}}</p>

        </ion-item>
    </ion-list>
</ion-content>-->

<ion-content #chatContent class="chat">
  <div>
    <div class="message-list">    
      <div *ngFor="let messages of arrayMessageChat">
        <div class="chat-message" [ngClass]="{in: messages.sendedByMe != 'True', out: messages.sendedByMe === 'True'}">
          <div class="message tail">
            <!--<span class="author-name">{{messages.sendedByName}}</span>-->
            <span class="message-date">{{messages.dateMessage}}</span>              
            <span class="message-content">{{messages.message}}</span>  
          </div>
        </div>   
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="chat">
  <ion-toolbar>
      <ion-item class="footerChat">
        
        <ion-input type="text" value="" [(ngModel)]="textImput" (keydown.enter)="addMessage(textImput)"></ion-input>
        <button ion-button outline item-right (click)="addMessage(textImput)" class="footerButtonClass">
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
